body {
    /* overflow: hidden; */
}

header {
    background-color: #312244;
    min-height: 7vh;
}

main {
    min-height: 93vh;
}



#search {
    background-color: #EBECE9;
}

h2 {
    background-color: #A9ACA9 !important;
}

#city-list {
    list-style: none;
    padding-inline-start: 0;
}

.row-height {
    min-height: 93vh;;
}

.col-height {
    min-height: 46.5vh;
}

#forecast-height {
    min-height: 90%;
}


/* current weather data section */
#current-bg {
    background-color: #144552;
}
#current-conditions {
    list-style: none;
    padding: 2vh 0;
    color:antiquewhite;
    font-weight: 400;
    font-size: 1.5rem;
}

#current-city {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    font-style: italic;
    text-decoration: underline;
    
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
    color: black;
}

.severe {
    background-color: red;
}

/* 5day forecast styles */

#five-day {
    background-color: #14213d;
    color: antiquewhite;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
}

#forecast-1 {
    list-style: none;
    padding-inline-start: 0;
}

#forecast-2 {
    list-style: none;
    padding-inline-start: 0;
}

#forecast-3 {
    list-style: none;
    padding-inline-start: 0;
}

#forecast-4 {
    list-style: none;
    padding-inline-start: 0;
}

#forecast-5 {
    list-style: none;
    padding-inline-start: 0;
}

h4 {
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
}